# Impressum & Betreiberdaten
APP_LINK_IMPRESSUM=true #Soll das Impressum auf der Seite erscheinen? true = ja, false = nein
APP_OWNER_NAME=Muster Maxmann
APP_OWNER_STREET=Musterstraße 1
APP_OWNER_CITY=01234 Musterhausen
 # Alternativ kannst du auch unter https://mail-shield.net/ einen Link für Deine E-Mail generieren und diesen Link hier eintragen
APP_OWNER_EMAIL=example@example.com